{% extends "base.html" %}
{% block body_content %}
    <p>Welcome, {{ session['user'] }}</p>
    <a href="/logout">log out</a>
    <a href="/games">Games</a>
    <a href="/security">Security</a>
    <a href="/">Payment</a><br>

    <h2>add reviews</h2>
    <form action="/add-review/{{ game['gameID'] }}" method="post">
        Comments:<br>
        <textarea name="comment" rows="10" cols="50"></textarea><br>
        Rating:
        <select name="rating">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select> stars<br>
        <input type="submit" value="Submit Reviews">
    </form>
{% endblock %}