<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Welcome {{ session['user'] }}</p>
<a href="/logout">log out</a>
<a href="">Games</a>
<a href="">Security</a>
<p>Bank Account Information</p>
<p>Accounts</p>
<table style="width:70%">
  <tr>
    <th>Account#</th>
    <th>Routing#</th>
    <th>Default?</th>
  </tr>
  {% for account in accounts %}
        <tr>
        {% for i in range(3) %}
            <td>{{ account[i] }}</td>
        {% endfor %}
            <td><button onclick="delete()">delete</button></td>
        </tr>
  {% endfor %}
</table>
<form name="add" action="/bankaccount" method="post">
    Name: <input type="text" name="name" /><br>
    Address: <input type="text" name="address" /><br>
    Account#: <input type="text" name="accountID" /><br>
    Routing#: <input type="text" name="routingID" /><br>
    <input type="checkbox" name="isDefault">set as default<br>
    <input type="submit" value="Register" />
</form>
<script>

</script>
</body>
</html>