<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Welcome {{ session['user'] }}</p>
<a href="/logout">log out</a>
<a href="/">Store</a>
<a href="/profile">Games</a>
<a href="/security">Security</a>
Bank Account
<p>Bank Account Information</p>
<p>Accounts</p>
<table style="width:70%">
  <tr>
    <th>Account#</th>
    <th>Routing#</th>
    <th>Default?</th>
  </tr>
  {% for account in accounts %}
        <tr>
        {% for i in range(3) %}
            <td>{{ account[i] }}</td>
        {% endfor %}
            <td><button onclick="Delete()">delete</button></td>
        </tr>
  {% endfor %}
</table>
<form name="add" action="/bankaccount" method="post">
    Name: <input type="text" name="name" /><br>
    Address: <input type="text" name="address" /><br>
    Account#: <input type="text" name="accountID" /><br>
    Routing#: <input type="text" name="routingID" /><br>
    <input type="checkbox" name="isDefault">set as default<br>
    <input type="submit" value="Register" />
</form>
<script>
    function Delete() {
        method = "post";
        path = '/security';

        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        var newemail = prompt("Please enter your new email:");
        var email = document.createElement("input");
        email.setAttribute("type", "text");
        email.setAttribute("name", "email");
        email.setAttribute("value", newemail);
        form.appendChild(email);

        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>