{% extends "base.html" %}
{% block body_content %}
    <p>Welcome {{ session['user'] }}</p>
    <a href="/logout">log out</a>
    <a href="/">Store</a>
    Games
    <a href="/security">Security</a>
    <a href="/bankaccount">Bank Account</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Release Date</th>
            <th>Rating</th>
            <th>Comments</th>
            <th>SalesNum</th>
            <th>Income</th>
            <th>Discount</th>
            <th>Genres</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game["name"] }}</td>
                <td>{{ game["releasedate"] }}</td>
                {% if game["reviews"] %}
                    <td>{{ game['rating'] }}</td>
                    <td>
                        <a href="/show-reviews/{{ game['gameID'] }}">Have a look</a>
                    </td>
                {% else %}
                    <td>None</td>
                    <td>None</td>
                {% endif %}
                <td>{{ game['copies'] }}</td>
                <td>{{ game['income'] }}</td>
                <td>{{ game['discount'] }}% <a href="/update-discount">Update</a></td>
                <td>
                    <a href="/add-genre/{{ game['gameID'] }}">Add</a>,
                    {% for g in game['genres'] %}<button>{{ g }}</button> {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}