{% extends "base.html" %}
{% block body_content %}
    <p>Welcome, {{ session['user'] }}</p>
    <a href="/logout">log out</a>
    <a href="/security">Security</a>
    <a href="/">Payment</a><br>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <table>
        <tr>
            <th>Name</th>
            <th>Purchased Date</th>
            <th>Comments & Rating</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game["name"] }}</td>
                <td>{{ game["purchaseDate"] }}</td>
                {% if game["reviews"] %}
                    <td>{{ game["reviews"] }}</td>
                {% else %}
                    <td>
                        <a href="/add-review/{{ game['gameID'] }}">Add review</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}